<ion-content [fullscreen]="true">
  <div class="background"></div>
  <ion-grid>
    <ion-row>
      <ion-col size="3.6"></ion-col>
      <ion-col size="4.8">
        <img src="/assets/imgs/logo.png" alt="Fitnasyum Logo" class="logo">
      </ion-col>
      <ion-col size="3.6"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.4"></ion-col>
      <ion-col size="8">
        <h1>Welcome</h1>
        <p>Train and live the new experience of exercising at home</p>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-button class="fir" shape="round" expand="block" routerLink="/signin">Sign In</ion-button>
        <ion-button class="sec" shape="round" expand="block" routerLink="/signup">Sign Up</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
