// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// Primary Colors
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }
  :root {
      --ion-color-primary: #00E98B;
      --ion-color-secondary: #E0FF00;
      --ion-color-tertiary: #007FE6;
      --ion-color-bordercolor: #fff;
      --ion-color-textcolor: #ffffff;
      --ion-color-textcolor2: #000000;
      --ion-color-hyperlinks: #00E98B;
      --ion-color-background: #000;
      // --ion-color-success: #{$success-color};
      // --ion-color-warning: #{$warning-color};
      // --ion-color-danger: #{$danger-color};
      // --ion-color-dark: #{$dark-color};
      // --ion-color-medium: #{$medium-color};
      // --ion-color-light: #{$light-color};
    }
  // Border Colors
