
<ion-content [fullscreen]="true">
  <div class="background"></div>
    <ion-grid>
      <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">  
          <h1>Reset Password</h1>
          <p>Create new password</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">  
          <form>
              <ion-input label="New Password" type="password" labelPlacement="stacked" placeholder="Enter a New Password"></ion-input>
              <ion-input label="Confirm New Password" type="password" labelPlacement="stacked" placeholder="Confirm the New Password"></ion-input>
              <ion-button size="large" shape="round" routerlink="/">Reset</ion-button>
          </form>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">  
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    </ion-grid>
  </ion-content>
  